
# Ignore all (to ignore binaries)
*
# Un-ignore the files with extension
!*.*
# Un-ignore folders
!*/

.DS_Store

*.o
*.bin

test.cpp
main.h
makefile

!/template_cpp/*.*
!/template_cpp/makefile

.vscode

Cargo.toml
Cargo.lock

sample-*.in
sample-*.out
contest.acc.json

*/target/**
target/